body {
  margin: 0;
}

.container {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  padding: 24px
}

.container .title {
  grid-column: 1 / span 3;
  margin-top: 15px;
}

.container .full {
  width: 100%;
}

.leftIcon {
  margin-right: 8px;
}
