body {
  margin: 0;
}

.container {
  margin: auto auto 30px;
  max-width: 1000px;
  padding: 24px;
  position: relative;
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.gridContainer .title {
  grid-column: 1 / span 3;
  margin-top: 15px;
}

.gridContainer .full {
  width: 100%;
}

.leftIcon {
  margin-right: 8px;
}

.fixedBottom {
  position: absolute !important;
  bottom: 16px;
  right: 16px;
}

.modal {
  position: absolute;
  width: 200px;
  background-color: white;
  padding: 30px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.large .modal {
  width: 400px;
}

.modal .title {
}

.modal .body {
  margin-top: 10px;
}

.modal .buttons {
  margin-top: 10px;
  text-align: right;
}
